form input {
    text-transform: uppercase;
}

form input[name=senha] {
    text-transform: none !important;
}

body {
    background-image: url("../img/background-main.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.text-theme-primary {
    color: #153575;
}

.bg-theme-primary {
    background-color: #153575;
}

ul {
    padding-left: 0px !important;
}